<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165947483771-0gralv9pt2uc7208cba142omfrd77k8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165947483771-0gralv9pt2uc7208cba142omfrd77k8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCfqmvIQwDELycTAwcDS_NqyZdn-40SyuY</string>
	<key>GCM_SENDER_ID</key>
	<string>165947483771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cashking.kunal.cashkingdemo</string>
	<key>PROJECT_ID</key>
	<string>cashkingdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>cashkingdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165947483771:ios:1df2ea65ea8d4329f224de</string>
</dict>
</plist>